@model AlBhushara.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Product</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UnitPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Unit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Invoice.InvoiceID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Invoice.InvoiceID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
