@model AlBhushara.Models.Invoice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Invoice</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.InvoiceNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InvoiceNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GrandTotal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GrandTotal)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Customer.CustomerName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.CustomerName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.InvoiceID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
